[submodule "lv_i18n"]
	path = lv_i18n
	url = https://github.com/hellototoro/lv_i18n.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/hellototoro/lvgl.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/hellototoro/lv_drivers.git
[submodule "hlibc"]
	path = hlibc
	url = https://github.com/hellototoro/hlibc.git
